@import "src/styles/colors.scss";

$breadcrumbs-bg: #fff;

.breadcrumbs-wrapper {
  background: $breadcrumbs-bg;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    list-style: none;
    margin: 15px 10px;

    &::after {
      content: "";
      position: absolute;
      right: -15px;
      top: 5px;
      display: block;
      width: 8px;
      height: 8px;
      border-right: 2px solid $text-color-grey;
      border-bottom: 2px solid $text-color-grey;
      transform: rotate(-45deg);
    }

    &:last-child::after {
      display: none;
    }
  }

  &__link {
    font-size: 20px;
    text-decoration: none;
    color: $text-color-dark;

    &:hover {
      color: $text-color-grey;
    }
  }
}
