<div
  class="course-card"
  [appCourseCardCreationDate]="course.creationDate"
  [ngClass]="{'course-card--top-rated': course.topRated}"
>
  <div class="course-card__description">
    <h2 class="title">
      <a [routerLink]="[course.id]">{{course.title | uppercase }}</a>
      <mat-icon
        *ngIf="course.topRated"
        class="star-icon"
        aria-hidden="false"
        aria-label="Top rated"
      >star</mat-icon>
    </h2>
    <p class="description">{{course.description}}</p>
  </div>
  <div class="course-card__actions">
    <div class="duration">
      <span><mat-icon>schedule</mat-icon>{{course.duration | courseDuration}}</span>
      <span><mat-icon>date_range</mat-icon>{{course.creationDate |  date:'short'}}</span>
    </div>
    <div class="actions">
      <a [routerLink]="[course.id, 'edit']" mat-raised-button color="accent">
        <mat-icon>edit</mat-icon> Edit
      </a>
      <button
        mat-raised-button color="accent"
        (click)="onDeleteClick()"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </div>
</div>
