<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
  <h1>Login</h1>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        name="email"
        placeholder="Enter e-mail"
        formControlName="email"
      >
      <mat-error *ngIf="loginForm.get('email')?.invalid">
        Enter valid email
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="email"
        placeholder="Enter password"
        formControlName="password"
      >
      <mat-error *ngIf="loginForm.get('password')?.invalid">
        Password should be at least 6 characters
      </mat-error>
    </mat-form-field>
  </p>
  <div class="login-form__footer">
    <a href="">Forgot password?</a>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid"
    >
      {{ 'BUTTON.LOGIN' | translate }}
    </button>
  </div>
</form>

