<div class="courses">
  <div class="courses__search">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Search courses</mat-label>
        <input
          matInput
          type="text"
          name="search"
          placeholder="Search"
          [value]="searchQuery"
          (keyup)="onSearch($event)"
        >
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="courses__add">
    <a [routerLink]="['new']" mat-raised-button color="accent">
      <mat-icon>add</mat-icon> Add
    </a>
  </div>

  <app-course-card
    *ngFor="let course of courses"
    [course]="course"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-course-card>

  <div class="courses__load-more" *ngIf="courses.length > 0; else noCourses">
    <button (click)="onLoadMore()">Load More</button>
  </div>

  <ng-template #noCourses>
    <div class="courses__no-cousrses">
      No Data. Feel free to add new course
    </div>
  </ng-template>
</div>
